/* todo optimize for only needed fonts */
@import "https://fonts.googleapis.com/css?family=Satisfy|Indie+Flower|Shadows+Into+Light|Stick+No+Bills|Special+Elite|Teko|Pacifico|Mali|EB+Garamond|Secular+One|Lobster|Dancing+Script|Anton|Kanit|Island+Moments|Xanh+Mono|Poppins:200,400,600|Rajdhani|Poor+Story|Kolker+Brush|Roboto";
/* todo replace with only required SVG icons */
@import "https://use.fontawesome.com/releases/v6.2.0/css/all.css";
