/* todo optimize for only needed fonts */
@import "https://fonts.googleapis.com/css?family=Poppins";
/* todo replace with only required SVG icons */
@import "https://use.fontawesome.com/releases/v6.2.0/css/all.css";
