---
import "../styles/index.pcss";
import Head from "@components/head.astro";
import Header from "@components/header.astro";
import SectionLayout from "@layout/section.astro";
import Welcome from "@components/section/welcome.astro";
import Projects from "@components/section/projects.astro";
import Contact from "@components/section/contact.astro";

const SECTIONS: Section[] = [
  { label: "About", id: "welcome-section", Component: Welcome },
  { label: "Projects", id: "projects", Component: Projects },
  { label: "Contact", id: "contact", Component: Contact },
];
---

<!DOCTYPE html>
<html
  lang="en"
  class="bg-theme-gray bg-gradient-to-tr from-theme-gray-light to-theme-gray-dark font-poppins text-slate-200 motion-safe:scroll-smooth sm:scroll-p-header"
>
  <Head />
  <body class="flex flex-col items-center">
    <Header sections={SECTIONS} />
    <main class="flex max-w-7xl flex-col items-center">
      {
        SECTIONS.map(({ Component, id }) => (
          <SectionLayout {id}>
            <Component />
          </SectionLayout>
        ))
      }
    </main>
  </body>
</html>
