---
import { getEntry, type CollectionEntry } from "astro:content";
import { Image } from "@astrojs/image/components";
import LikeButton from "@components/likeButton";

type Props = { projectID: CollectionEntry<"projects">["id"] };
const { projectID } = Astro.props;
const project = await getEntry("projects", projectID);
---

<div class="anchor overflow-hidden rounded-xl shadow-2xl">
  <a
    href={project.data.link ?? project.id}
    target="_blank"
    class="block"
  >
    <div class="relative overflow-hidden">
      <Image
        src={project.data.image}
        alt={project.data.name}
        class="aspect-square min-w-full bg-black bg-opacity-25 object-cover brightness-[.25] transition-[filter,transform] duration-300"
      />
      <span
        class="absolute left-0 top-0 flex h-full w-full items-center justify-center p-4 text-center duration-300"
      >
        {project.data.description}
      </span>
    </div>
  </a>
  <div class="relative mt-1 flex h-10 items-center justify-center bg-slate-700">
    <span
      class="px-1 text-center before:text-amber-400 before:duration-300 before:content-['<'] after:text-amber-400 after:duration-300 after:content-['/>']"
    >
      {project.data.name}
    </span>
    <style>
      @media (hover: hover) {
        .anchor {
          img {
            filter: brightness(1);

            ~ span {
              opacity: 0;
              visibility: hidden;
            }
          }
          div:last-of-type > span {
            &::before,
            &::after {
              opacity: 0;
            }
          }

          &:hover {
            img {
              transform: scale(1.05);
              filter: brightness(0.25);

              ~ span {
                visibility: visible;
                opacity: 1;
              }
            }
            div:last-of-type > span {
              &::before,
              &::after {
                opacity: 1;
              }
            }
          }
        }
      }
    </style>
  </div>
</div>
