---
import photo from "@assets/photo.jpg";
import Framework from "@components/framework.astro";
---

<div class="flex max-w-2xl flex-col items-center p-2 pt-10">
  <p class="group self-stretch text-center text-3xl">
    Hey, I am
    <span class="inline-flex">
      <span
        class="inline-grid grid-cols-[1fr] group-hover:grid-cols-[0fr] motion-safe:transition-[grid-template-columns]"
      >
        <span class="overflow-hidden whitespace-nowrap pb-1">Evgenii</span>
      </span>
      <span
        class="inline-grid grid-cols-[0fr] group-hover:grid-cols-[1fr] motion-safe:transition-[grid-template-columns]"
        ><span class="overflow-hidden whitespace-nowrap pb-1">Huge Letters</span>
      </span>
    </span>, a web developer
  </p>
  <label class="peer mt-2 rounded-sm p-1 focus-within:outline hover:text-theme-red">
    <!-- todo remove checked attr -->
    <input
      type="checkbox"
      class="peer appearance-none"
      aria-label="show text"
      checked
    />
    more <span
      class="inline-block align-middle text-3xl transition-transform peer-checked:rotate-90 peer-checked:animate-none motion-safe:animate-pulse"
    >
      {">"}
    </span>
  </label>
  <div
    class="mt-3 grid grid-rows-[0fr] peer-[:has(:checked)]:grid-rows-[1fr] motion-safe:transition-[grid-template-rows]"
  >
    <div class="overflow-hidden">
      <div class="mb-2 flex items-start gap-2">
        <img
          src={photo}
          alt="me"
          class="inline-block w-1/2 rounded-lg object-scale-down"
        />
        <div>
          <p>
            I am a <Framework
              framework="JavaScript"
              proficiency="I'm pretty good with it."
              class="text-amber-200"
            /> & <Framework
              framework="TypeScript"
              proficiency="I'm pretty good with it too!"
              class="text-blue-400"
            /> web developer who likes to dabble in <Framework
              framework="React"
              proficiency="I've built the majority of my stuff with it."
              class="text-cyan-400"
            /> and thinks mutations get too much bad rap.
          </p>
          <p>
            I've also got some experience with <Framework
              framework="Express"
              proficiency="I've built a simple REST API for the hotel I've worked with before"
              class="text-gray-400"
            />, <Framework
              framework="Prisma"
              proficiency="Also have used it for the hotel project and for my Discord bot"
              class="text-indigo-600"
            />, <Framework
              framework="Tailwind"
              proficiency="It is my preferred way to write CSS"
              class="text-sky-500"
            />, <Framework
              framework="Jotai"
              proficiency="It is my prefered way to manage global state in React 👻"
            />, <Framework
              framework="Svelte"
              proficiency="I've used it to make a webapp for my mom :)"
              class="text-orange-600"
            />, <Framework
              framework="Redux"
              proficiency="I've also used this for the hotel project. I like it less than Jotai."
              class="text-violet-500"
            /> & <Framework
              framework="Astro"
              proficiency="I've used it to build this website"
              class="text-orange-400"
            />
          </p>
        </div>
      </div>
      <div class="px-3">
        <p>
          I've studied Applied Mathematics in my university and so these are the aspects of
          programming I enjoy the most.
        </p>
        <p>
          I like to think about problems with performance in mind and stuff like Advent of Code
          really gets my gears turning. And I also strive to adhere to single the source of truth
          principle.
        </p>
        <p>In my free time I'm usually clay sculpting or gaming.</p>
        <p>
          My favorite color is dark blue and my favorite movie is The Departed and that's pretty
          much it.
        </p>
      </div>
    </div>
  </div>
</div>
