---
import ContactLink from "@components/contactLink.astro";
import github from "@assets/contacts/github.svg";
import email from "@assets/contacts/email.svg";
import discord from "@assets/contacts/discord.svg";
import telegram from "@assets/contacts/telegram.svg";
---

<div class="mb-4 mt-2 border-t-4 border-t-theme-red">
  <h1 class="m-4 text-center">You can find me at</h1>
  <div class="flex flex-wrap justify-center">
    <ContactLink
      src={github}
      alt="GitHub"
      href="https://github.com/HugeLetters"
    />
    <ContactLink
      src={discord}
      alt="Discord"
      href="https://discord.com/users/241333871747137548"
    />
    <ContactLink
      src={telegram}
      alt="Telegram"
      href="https://t.me/HugeLetters"
    />
    <ContactLink
      src={email}
      alt="email"
      socialLabel="Send an email"
      href="https://github.com/HugeLetters"
    />
  </div>
</div>
