---
import ProjectCard from "@components/projectCard.astro";
import { getCollection } from "astro:content";
const projects = await getCollection("projects");
// todo - sort projects by rating
---

<h1 class="my-10 text-center text-3xl font-semibold underline underline-offset-[0.3rem]">
  These are some of my projects
</h1>
<div class="grid auto-rows-[1fr] gap-4">
  {projects.map(({ id }) => <ProjectCard projectID={id} />)}
</div>
<style>
  div.grid {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
</style>
