<div class="min-h-screen-header bg-gradient-to-tr from-theme-gray-light to-theme-gray-dark">
  <div class="group">
    Hey, I am <span class="group-hover:hidden">Huge Letters</span><span
      class="hidden group-hover:inline">Evgenii Perminov</span
    >
  </div>
</div>
