---
import type { HTMLAttributes } from "astro/types";
type Props = {
  id: Section["id"];
} & HTMLAttributes<"section">;
const { id, ...props } = Astro.props;
---

<section
  {id}
  {...props}
  class="p-2"
>
  <slot />
</section>
